<%- include('partials/header'); -%>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1> <%= title %> </h1>
        <form action="/compose" method="post">
            <input type="text" name="" id="">
            <button type="submit">Publish</button>
        </form>
    </div>
</div>
<%- include('partials/footer'); -%>