<%- include('partials/header'); -%>


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1> <%= title %> </h1>
        <p class="lead"><%= homeStartingContent%></p>
    </div>
</div>

<%- include('partials/footer'); -%>